@model IEnumerable<StudyWeb.Models.Document>

@{
    ViewBag.Title = "ListDocument";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div id="project" class="project" style="padding-top: 20px">
    <div class="container">
        <div class="card">
            <div class="card-header" style="background-color: aqua;">
                <div class="row">
                    <strong class="text-uppercase">Danh sách tài liệu môn học</strong>
                </div>
            </div>
        </div>
        <br />
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-header" style="background-color: whitesmoke;">
                    <div class="row">
                        <a style="margin-left: 20px" href="@Url.Action("Document","Documents",new { id = item.id })"><strong class="text-uppercase">@item.contentDocument</strong></a>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
</div>