@model IEnumerable<StudyWeb.Models.Classs>

@{
    ViewBag.Title = "ListClassVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="project" class="project">
    <div class="container">
        <div class="card">
            <div class="card-header" style="background-color: sandybrown;">
                <div class="row">
                    <strong class="text-uppercase">
                        <h1 style="color: white; font-size: 40px">Danh sách lớp học</h1>
                    </strong>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="product_main">
                @foreach (var item in Model)
                {
                    <a style="text-align:center" href="@Url.Action("ListSubjectsVideo", "Subjects", new { id = item.id})">
                        <div class="project_box">
                            <div class="dark_white_bg">
                                <img height="100" width="100" src="~/ImagesClass/@item.imageClass" alt="#" />
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .project {
        background-image: url('../../Content/images/nen_test.jpg');
        min-height: 100vh;
    }

    .row {
        justify-content: center
    }

    .dark_white_bg {
        background-color: rgba(0,0,0,0.5);
    }

        .dark_white_bg:hover {
            background-color: whitesmoke;
        }
</style>
