@model StudyWeb.Models.Account

@{
    Layout = null;
}




<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ForgotPassword</title>
    <link rel='shortcut icon' href='~/Content/images/gg-circle.png' />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container" style="margin-top: 10%">
        <div class="row">
            <div class="col-md-4 col-md-offset-4"  style="background-color: rgba(0,0,0,0.5); min-height: 400px">
                <div class="text-center">
                    <h3 style="color: white"><i class="fa fa-lock fa-4x"></i></h3><br />
                    <h2 class="text-center" style="color: white">Quên mật khẩu?</h2>
                    <p style="color: white">Đổi mật mới mật khẩu của bạn tại đây.</p><br />
                    <div class="panel-body" id="div1">
                        @using (Html.BeginForm("ForgotPassword", "Accounts", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div id="register-form" role="form" autocomplete="off" class="form" method="post">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input style="height: 40px" id="maill" name="maill" placeholder="Nhập email của bạn..." class="form-control" type="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div style="color: red; text-align: left">
                                        @ViewData["ErrorMail"]
                                        @ViewData["null"]
                                    </div>
                                    <div style="color: forestgreen; text-align: left">
                                        @ViewData["Success"]
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block set_hover" value="Xác nhận" type="submit">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


<style>
    body {
        background-image: url('../../Content/images/background113.jpg');
    }
    .set_hover:hover {
        background-color: white;
        color: forestgreen;
        border: solid 2px forestgreen;
    }
    .form-gap {
        padding-top: 70px;
    }
</style>