<!-- end header inner -->
<!-- end header -->
<!-- banner -->
<section class="banner_main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="text-bg">
                    <h1> <span class="blodark text-animation"> EASY STUDY </span> <br>Học là dễ</h1>
                    <p>Học tập hiệu quả</p>
                    <a class="read_more" href="@Url.Action("ListClass","Classses")">Học ngay</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ban_img">
                    <figure><img src="~/Content/images/study1.jpg" alt="#" /></figure>
                    <br>
                    <figure><img src="~/Content/images/homelearning.jpg" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->
<!-- project section -->
<div id="project" class="project">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Bài học</h2>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="product_main">
                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/toan-hoc.png" alt="#" />
                            <br>
                            <h1>Toán</h1>
                        </div>
                    </div>
                </div>


                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/vat-ly.png" alt="#" />
                            <br>
                            <h1>Vật lý</h1>
                        </div>
                    </div>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/hoa-hoc.png" alt="#" />
                            <br>
                            <h1>Hóa học</h1>
                        </div>
                    </div>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/sinh-hoc.png" alt="#" />
                            <br>
                            <h1>Sinh học</h1>
                        </div>
                    </div>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/ngu-van.png" alt="#" />
                            <br>
                            <h1>Ngữ văn</h1>
                        </div>
                    </div>
                </div>


                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/tieng-anh.png" alt="#" />
                            <br>
                            <h1>Tiếng anh</h1>
                        </div>
                    </div>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/lich-su.png" alt="#" />
                            <br>
                            <h1>Lịch sử</h1>
                        </div>
                    </div>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/dia-ly.png" alt="#" />
                            <br>
                            <h1>Địa lý</h1>
                        </div>
                    </div>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/tin-hoc.png" alt="#" />
                            <br>
                            <h1>Tin học</h1>
                        </div>
                    </div>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/cong-nghe.png" alt="#" />
                            <br>
                            <h1>Công nghệ</h1>
                        </div>
                    </div>
                </div>


                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/giao-duc-cong-dan.png" alt="#" />
                            <br>
                            <h1>Giáo dục công dân</h1>
                        </div>
                    </div>
                </div>

                <div class="project_box">
                    <div class="dark_white_bg">
                        <div>
                            <img src="~/Content/images/tieng-anh-thi-luyen.png" alt="#" />
                            <br>
                            <h1>Tiếng anh thí luyện</h1>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <a class="read_more" href="@Url.Action("ListClass","Classses")">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end project section -->
<!-- fashion section -->
<!-- end fashion section -->
<!-- news section -->
<div class="comment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Bài Viết</h2>
                </div>
            </div>
        </div>
        <br>
        <br>
        <a href="@Url.Action("AddPosts","Posts")">
            <div>
                <h1>Bạn có điều muốn hỏi?</h1>
                <textarea class="col-md-12" placeholder="Bạn ơi nhập bài muốn hỏi vào đây..." rows="3"></textarea>
            </div>
        </a>
        
        
        <div class="row">
            <div class="col-md-12 margin_top40">
                <div class="row d_flex">
                    <div class="col-md-12">
                        <div class="comment_text">
                            <div class="comment_user">
                                <img style="width: 42px; height: 42px" src="~/Content/images/giao-duc-cong-dan.png" alt="#" />
                                <h3>Tô Văn Bảo</h3>
                            </div>
                            <h3>Bài toán về hình học không gian</h3>
                            <span>27/10/2022</span>
                            <br>
                            <br>
                            <div class="col-md-12">
                                <div>
                                    <p>Tính thể tính hình khối hình dưới?</p>
                                </div>
                                <div style="text-align: center">
                                    <img class="comment_img" src="~/Content/images/cmt-img.png" alt="#" />
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end news section -->
<!-- newslatter section -->
<div class="newlesson">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <h3 class="neslatter">Nhận thông báo từ các khóa học</h3>
            </div>
            <div class="col-md-12">
                <h3>Bạn có cơ hội nhật được thông tin khóa học hay những thông báo mới một cách sớm nhất và nhanh nhất.</h3>
                <h3>Đăng ký ngay để được nhận mail hỗ trợ.</h3>
            </div>
            <div class="col-md-12">
                <form class="news_form">
                    <input class="col-md-5 letter_form" placeholder=" Nhập email của bạn" type="text" name="Enter your email">
                    <button class="col-md-2 sumbit">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- end footer -->
<!-- Javascript files-->
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/popper.min.js"></script>
<script src="~/Content/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/js/jquery-3.0.0.min.js"></script>
<!-- sidebar -->
<script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/Content/js/custom.js"></script>


